
* {
  font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3","Arial","ƒƒCƒŠƒI",Verdana,"‚l‚r ‚oƒSƒVƒbƒN",sans-serif;
  margin: 0;
  padding: 0;
  font-size:16px;
  }

 html {
  background-color:#afd7bb;
  color:#1a1a1a;
  }
  body {
  margin: 0;
  }

 .container{
  text-align: center;
  padding: 30px 0;
 }

/*‚Ó‚«‚¾‚µ*/
.fukidashi{
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
}
 img.cat{
  max-width:100%;
 }




